<div class="container">
    <div class="row ">
        <div class="d-flex justify-content-between align-items-center">
            <div class="row ">

                <div class="card income-head" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title title">Total</h5>
                        <p class="card-text amount">Rs. 20000</p>
                    </div>
                </div>

                <div class="card income-head ms-2" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title title">Income</h5>
                        <p class="card-text amount">Rs. 100000</p>
                    </div>
                </div>

                <div class="card expense-head ms-2" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title title">Expense</h5>
                        <p class="card-text amount">Rs. 50000</p>
                    </div>
                </div>

                <div class="card investment-head ms-2" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title title">Investment</h5>
                        <p class="card-text amount">Rs. 30000</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <button style="height: 40px;" (click)="toggleForm()">Add +</button>

            </div>
        </div>
    </div>
</div>